/* how do I apply this before any other styling? */
.pixelart {
    image-rendering: pixelated;
}

.status-HUD{
    align-content: center;
    padding: 2rem 5rem;
    color: black;
    /* border: solid; */
}

.progress-bar{
    height: 24px;
    width: 100%;
    border: solid;
}

h3{
    text-align: center;
    font-size: 15px;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    max-height: 1000px;
}

.nes-progress{
    height: 30px;
}


.level-HUD{
    align-content: center;
    padding: 30px 25rem;
    color: white;
    /* border: solid; */
}


#exp-bar{
    height: 15px;
}


/* animation styling */
:root {
    --pixel-size: 5;
}

.background{
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 1000px;
    position: relative;
}

.character{
    width: calc(50px * var(--pixel-size));
    overflow: hidden;
    margin: 4em auto;
    position: relative;
    top: 40px;
    right: 20%;
}

.character-idle {
    animation: moveSpritesheet 1s steps(4);
    animation-iteration-count: infinite;
    width: calc(200px * var(--pixel-size));
}

.character-run {
    animation: moveSpritesheet 1s steps(6);
    animation-iteration-count: 5;
    width: calc(300px * var(--pixel-size));
}

.character-atk1 {
    animation: moveSpritesheet 1s steps(7);
    animation-iteration-count: 1;
    width: calc(350px * var(--pixel-size));
}

.character-dead {
    animation: moveSpritesheet 1s steps(7);
    animation-iteration-count: 1;
    width: calc(350px * var(--pixel-size));
}

/* animate */
@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}

.play-buttons{
    display: flex;
    justify-content: space-evenly;
    /* position: absolute; */
    /* width: 50%; */
}


h1{
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}