/* how do I apply this before any other styling? */
.pixelart {
    image-rendering: pixelated;
}

.status-HUD{
    align-content: center;
    padding: 2rem 5rem;
    color: white;
    /* border: solid; */
}

.progress-bar{
    height: 24px;
    width: 100%;
    border: solid;
}

h3{
    text-align: center;
    font-size: 15px;
}

body{
    background-color: tan;
}

/* animation styling */
:root {
    --pixel-size: 5;
}

.background{
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 1000px;
    position: relative;
}

.character{
    width: calc(50px * var(--pixel-size));
    /* height: calc(37px * var(--pixel-size)); */
    /* background: wheat; */
    overflow: hidden;
    margin: 4em auto;
    /* height: 100%; */
    position: relative;
    top: 10px;
    right: 20%;
}

.character-idle {
    animation: moveSpritesheet 1s steps(4);
    animation-iteration-count: infinite;
    width: calc(200px * var(--pixel-size));
}

.character-run {
    animation: moveSpritesheet 1s steps(6);
    animation-iteration-count: infinite;
    width: calc(300px * var(--pixel-size));
}

/* animate */
@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}

/* .character-level{
    border: solid;
    color: white;
} */

h1{
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}