/* how do I apply this before any other styling? */
.pixelart {
    image-rendering: pixelated;
}

.status-HUD{
    align-content: center;
}

.progress-bar{
    height: 24px;
    width: 1%;


}

body{
    background-color: tan;
}

.background{
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* animation styling */
:root {
    --pixel-size: 6;
}

.character{
    width: calc(50px * var(--pixel-size));
    /* height: calc(37px * var(--pixel-size)); */
    /* background: wheat; */
    overflow: hidden;
    position: relative;
    margin: 4em auto;

}

.character-spritesheet {
    animation: moveSpritesheet 1s steps(4);
    animation-iteration-count: infinite;
    width: calc(200px * var(--pixel-size));
}

/* animate */
@keyframes moveSpritesheet {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}